<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>图书管理</title>
	<div th:replace="commons/top::top"></div>
	<script type="text/javascript">
		$(function () {
			$("a.deleteClass").click(function () {
				if(confirm("你确定要删除【"+$(this).parent().parent().find("td:first").text()+"】")){
					$("#deleteEmpForm").attr("action",$(this).attr("del_uri")).submit();
					//return false;
				}else {
					return false;
				}
			})
		});
	</script>
</head>
<body>
	
	<div id="header">
		<img class="logo_img" alt="" style="height:100px;width:100px "
			 th:src="@{/img/musicLogo.jpg}" >
			<span class="wel_word">图书管理系统</span>
		<div th:replace="commons/top::order"></div>
	</div>
	
	<div id="main">
		<table>
			<tr>
				<td>名称</td>
				<td>价格</td>
				<td>作者</td>
				<td>销量</td>
				<td>库存</td>
				<td colspan="2">操作</td>
			</tr>
            <tr th:each="book:${books}">
                <td th:text="${book.name}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.sales}"></td>
                <td th:text="${book.stock}"></td>
                <td><a th:href="@{/manager/book/}+${book.id}">修改</a></td>
				<!--自定义一个属性，因为不能直接将此uri传递给mapper-->
                <td><a class="deleteClass" th:attr="del_uri=@{/manager/book/}+${book.id}">删除</a></td>
            </tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a th:href="@{/book_edit.html}">添加图书</a></td>
			</tr>
		</table>
		<!--用来实现delete请求的必要form-->
		<form id="deleteEmpForm" method="post">
			<input type="hidden" name="_method" value="delete">
		</form>
	</div>

	<div th:replace="commons/footer::bottom"></div>
</body>
</html>