<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>编辑图书</title>
	<div th:replace="commons/top::top"></div>
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
	
	h1 a {
		color:red;
	}
	
	input {
		text-align: center;
	}
</style>
</head>
<body>
		<div id="header">
			<img class="logo_img" alt="" style="height:100px;width:100px "
				 th:src="@{/img/musicLogo.jpg}" >
			<span class="wel_word">编辑图书</span>
			<div th:replace="commons/top::order"></div>
		</div>
		
		<div id="main">
			<form th:action="@{/manager/book}" method="post">
				<!--如果model中的book不为null，就是使用put方式提交，对应修改操作;否则对应添加操作-->
				<input type="hidden" name="_method" value="put" th:if="${book!=null}">
				<input type="hidden" name="id" th:if="${book!=null}" th:value="${book.id}">
				<table>
					<tr>
						<td>名称</td>
						<td>价格</td>
						<td>作者</td>
						<td>销量</td>
						<td>库存</td>
						<td colspan="2">操作</td>
					</tr>
					<tr th:if="${book!=null}">
						<td><input name="name" type="text" th:value="${book.name}"/></td>
						<td><input name="price" type="text" th:value="${book.price}"/></td>
						<td><input name="author" type="text" th:value="${book.author}"/></td>
						<td><input name="sales" type="text" th:value="${book.sales}"/></td>
						<td><input name="stock" type="text" th:value="${book.stock}"/></td>
						<td><input type="submit" value="提交"/></td>
					</tr>
					<tr th:if="${book==null}">
						<td><input name="name" type="text" /></td>
						<td><input name="price" type="text" /></td>
						<td><input name="author" type="text" /></td>
						<td><input name="sales" type="text" /></td>
						<td><input name="stock" type="text" /></td>
						<td><input type="submit" value="提交"/></td>
					</tr>
				</table>
			</form>
			
	
		</div>

		<div th:replace="commons/footer::bottom"></div>
</body>
</html>