<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>我的订单</title>
	<div th:replace="commons/top::top"></div>
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>

<div th:replace="commons/top::header"></div>
	
	<div id="main">
		
		<table>
			<tr>
				<td>日期</td>
				<td>金额</td>
				<td>详情</td>
				<td>状态</td>
			</tr>		
			<tr th:each="order:${orders}">
				<td th:text="${#dates.format(order.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
				<td th:text="${order.price}"></td>
				<td><a th:href="@{/showOrderDetails}+'?orderId='+${order.orderId}">查看详情</a></td>
				<td  th:if="${order.status==0}" th:text="未发货"></td>
				<div th:if="${order.status==1}">
					<td th:text="已发货"></td>
					<td><a th:href="@{/receiveOrder}+'?orderId='+${order.orderId}">点击签收</a></td>
				</div>
				<td th:if="${order.status==2}" th:text="已签收"></td>
			</tr>
		</table>
		
	
	</div>

<div th:replace="commons/footer::bottom"></div>
</body>
</html>