<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengfei.book.mapper.BookMapper">
    <!--<resultMap id="ShowAllBook" type="com.chengfei.book.pojo.Book">-->
        <!--<id column="id" property="id"></id>-->
        <!--<result column="name" property="name"></result>-->
        <!--<result column="author" property="author"></result>-->
        <!--<result column="price" property="price"></result>-->
        <!--<result column="sales" property="sales"></result>-->
        <!--<result column="stock" property="stock"></result>-->
        <!--<result column="img_path" property="imgPath"></result>-->
    <!--</resultMap>-->
    <!--<select id="queryBooks" resultMap="ShowAllBook">-->
        <!--SELECT id,name,author,price,sales,stock,img_path FROM t_book-->
    <!--</select>-->
    <select id="queryBooks" resultType="com.chengfei.book.pojo.Book">
        SELECT id,name,author,price,sales,stock,img_path FROM t_book
    </select>
    <delete id="deleteBookById">
        DELETE FROM t_book WHERE id=#{id}
    </delete>
    <select id="queryBookById" resultType="com.chengfei.book.pojo.Book">
        SELECT id,name,author,price,sales,stock,img_path FROM t_book WHERE id=#{id}
    </select>
    <update id="updateBook">
        UPDATE t_book SET name=#{name},author=#{author},price=#{price},sales=#{sales},stock=#{stock} WHERE id=#{id}
    </update>
    <insert id="saveBook">
        INSERT INTO t_book (name,author,price,sales,stock) VALUES (#{name},#{author},#{price},#{sales},#{stock})
    </insert>
    <select id="queryForPageTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_book
    </select>
    <select id="queryForPageItems" resultType="com.chengfei.book.pojo.Book">
        SELECT id,name,author,price,sales,stock,img_path FROM t_book LIMIT #{begin},#{pageSize}
    </select>
    <select id="queryForPageTotalCountByPrice" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_book WHERE price BETWEEN #{min} AND #{max}
    </select>
    <select id="queryForPageItemsByPrice" resultType="com.chengfei.book.pojo.Book">
        SELECT id,name,author,price,sales,stock,img_path FROM t_book WHERE price BETWEEN #{min} AND #{max} LIMIT #{begin},#{pageSize}
    </select>
</mapper>