<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengfei.book.mapper.UserMapper">
    <!--    public Employee getEmpById(Integer id);

     public void insertEmp(Employee employee);-->
    <select id="queryUserByUsernameAndPassword" resultType="com.chengfei.book.pojo.User">
        SELECT * FROM t_user WHERE username=#{username} and password=#{password}
    </select>
    <select id="queryUserByUsername" resultType="com.chengfei.book.pojo.User">
        SELECT * FROM t_user WHERE username=#{username}
    </select>
    <insert id="saveUser">
        INSERT INTO t_user (username,password,email) VALUES (#{username},#{password},#{email})
    </insert>
</mapper>