<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>
<div th:fragment="top">
<link type="text/css" rel="stylesheet" href="../../static/css/style.css"
      th:href="@{/css/style.css}" >
<script type="text/javascript" th:src="@{/script/jquery-1.7.2.js}"></script>
    <!--动态获取当前的工程路径-->
    <script type="text/javascript" th:src="@{/script/rootpath.js}"></script>
</div>
<div id="header" th:fragment="header">
    <img class="logo_img" alt="" style="height:200px;width:200px "
         th:src="@{/img/musicLogo.jpg}" >
    <div>
        <span>欢迎<span class="um_span">[[${session.loginUser}]]</span>光临本商城</span>
        <a th:href="@{/order.html}">我的订单</a>
        <a th:href="@{/login.html}">注销</a>&nbsp;&nbsp;
        <!--<a th:href="@{}">返回</a>-->
    </div>
</div>
<div th:fragment="order">
    <a th:href="@{/manager/book_page}+'?pageNo=1&pageSize=4'">图书管理</a>
    <a href="order_manager.html">订单管理</a>
    <a th:href="@{/}">返回商城</a>
</div>
</body>
</html>