<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>购物车</title>
	<div th:replace="commons/top::top"></div>
	<script type="text/javascript">
		$(function () {
			$("a.deleteItem").click(function () {
				return confirm("你确定要删除【"+$(this).parent().parent().find("td:first").text()+"】吗？")
			})
			$("a.clear").click(function () {
				return confirm("你确定要清空购物车吗？")
			})
			$(".updateCount").change(function () {
				var name=$(this).parent().parent().find("td:first").text();
				var count=this.value;
				if(confirm("你确定要将【"+name+"】商品数量修改为【"+count+"】吗")){
					location.href=getRootPath()+"/client/updateItem?id="+$(this).attr("bookId")+"&count="+count;
				}else {
					//改为原来的默认值
					this.value=this.defaultValue;
				}
			})
		});

	</script>
</head>
<body>

<div th:replace="commons/top::header"></div>
	<div>
	<div id="main">
	
		<table  th:each="cartItem:${session.cart.items}">
			<tr>
				<td>商品名称</td>
				<td>数量</td>
				<td>单价</td>
				<td>金额</td>
				<td>操作</td>
			</tr>		
			<tr>
				<td  th:text="${cartItem.value.name}"></td>
				<td><input type="text" class="updateCount" th:bookId="${cartItem.value.id}" style="width: 80px" th:value="${cartItem.value.count}"></td>
				<td  th:text="${cartItem.value.price}"></td>
				<td  th:text="${cartItem.value.totalPrice}"></td>
				<td><a class="deleteItem" th:href="@{/client/deleteItem}+'?id='+${cartItem.value.id}">删除</a></td>
			</tr>

		</table>
		
		<div class="cart_info">
			<span class="cart_span">购物车中共有<span class="b_count"></span>件商品</span>
			<span class="cart_span">总金额<span class="b_price"></span>元</span>
			<span class="cart_span"><a class="clear" th:href="@{/client/clearItems}">清空购物车</a></span>
			<span class="cart_span"><a th:href="@{/createOrder}">去结账</a></span>
		</div>
	
	</div>
	</div>

	<div th:replace="commons/footer::bottom"></div>
</body>
</html>